**__pycache__**
*.pyc
doc/
**.cache**
quetzal/tests/data/out/
tests/data/out/
https://github.com/systragroup/quetzal/blob/master/docs/build/index.html

<meta http-equiv="refresh" content="0; url=https://github.com/systragroup/quetzal/master/docs/build/index.html" />