**__pycache__**
*.pyc
doc/
**.cache**
**.ipynb_checkpoints
quetzal/tests/data/out/
tests/data/out/
.eggs/
*.egg-info/
.venv/
.idea/
.python-version
.vscode/

build/
dist/
*.env
!docker/templates/.env

# Local .terraform directories
**/.terraform/*
docker/infra/.terraform/*
*.tfstate
*.tfstate.*

