**__pycache__**
*.pyc
doc/
**.cache**
quetzal/tests/data/out/
tests/data/out/
.eggs/
*.egg-info/
.venv/
.idea/
build/
*.env
!docker/templates/.env
# Local .terraform directories
**/.terraform/*
docker/infra/.terraform/*
*.tfstate
*.tfstate.*

