[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "<2.0"
pandas = "<3.0"
geopandas = "*"
gtfs-kit = "*"
openpyxl = "*"
numba = "*"
boto3 = "*"
fastapi = "*"
uvicorn = "*"
scipy = "*"
geopy = "*"
scikit-learn = "*"
matplotlib = "*"
notebook = "<7.0"
setuptools = "*"
tqdm = "*"
seaborn = "*"
xlrd = "*"
s3fs = "*"
rasterio = "*"
ipywidgets = "*"
openmatrix = "*"

[dev-packages]
snakeviz = "*" 
pip-chill = "*"

[requires]
python_version = "3.12"
