[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pipenv-to-requirements = "*"

[packages]
alabaster = "~=0.7"
aniso8601 = "~=9.0"
argcomplete = "~=1.12"
astropy = "~=4.2"
beautifulsoup4 = "~=4.9"
bitarray = "~=2.1"
branca = "~=0.4"
contextily = "~=1.1"
dbf = "~=0.99"
descartes = "~=1.1"
folium = "~=0.12"
geopandas = "~=0.9"
geojson = "~=2.5"
geopy = "~=2.1"
gtfs-kit = "~=5.0"
ipywidgets = "~=7.6"
ipykernel = "~=5.5"
kml2geojson = "~=4.0"
networkx = "~=2.5"
numpy = "~=1.22"
openpyxl = "~=3.0"
osmnx = "~=1.0"
pandas = "~=1.2"
rasterio = "~=1.2"
requests = "~=2.25"
scikit-learn = "~=0.24"
scipy = "~=1.6"
selenium = "~=3.141"
simpledbf = "~=0.2"
sphinx-rtd-theme = "~=0.5"
tables = "~=3.6"
tqdm = "~=4.59"
xlrd = "~=2.0"
Babel = "~=2.9"
backports_abc = "~=0.5"
DateTime = "~=4.3"
pyPdf = "~=1.13"
Shapely = "~=1.7"
Sphinx = "~=3.5.2"

[requires]
python_version = "3.8"
