ipykernel
networkx
tqdm
requests
geopy
scipy
sklearn
matplotlib
numba
protobuf==3.20.2
ray
simpledbf
xlrd
branca
ipywidgets # remove
openpyxl
osmnx
gtfs_kit
geojson
redis
sphinx_rtd_theme
seaborn
plotly
SQLAlchemy