{
    "network_paths": {
        "links": "inputs/base/links.geojson",
        "nodes": "inputs/base/nodes.geojson",
        "rlinks": "inputs/base/road_links.geojson",
        "rnodes": "inputs/base/road_nodes.geojson"
    },
    "output_paths": [
        "outputs/"
    ],
    "parameters_path":"inputs/params.json",
    "protected": [
        "base"
    ]
}
