boto3==1.26.114
fqdn==1.5.1
geojson==3.0.1
geopy==2.3.0
gtfs-kit==5.2.3
isoduration==20.11.0
jsonpointer==2.3
jupyter==1.0.0
numba==0.56.4
openpyxl==3.1.2
osmnx==1.2.2
pandas==1.5.3
plotly==5.14.0
pyogrio==0.7.2
rasterio==1.3.6
redis==4.5.4
scikit-learn==1.2.2
seaborn==0.12.2
simpledbf==0.2.6
simplejson==3.19.1
sqlalchemy==2.0.7
tqdm==4.65.0
uri-template==1.2.0
webcolors==1.13
xlrd==2.0.1
